USE [master]
GO
/****** Object:  Database [TWITTER_SENTIMENT_ANALYSIS]    Script Date: 05/05/2024 11:18:48 AM ******/
CREATE DATABASE [TWITTER_SENTIMENT_ANALYSIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TWITTER_SENTIMENT_ANALYSIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TWITTER_SENTIMENT_ANALYSIS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TWITTER_SENTIMENT_ANALYSIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TWITTER_SENTIMENT_ANALYSIS_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TWITTER_SENTIMENT_ANALYSIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TWITTER_SENTIMENT_ANALYSIS]
GO
/****** Object:  Table [dbo].[Twitter_Data]    Script Date: 05/05/2024 11:18:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Twitter_Data](
	[clean_text] [nvarchar](300) NULL,
	[category] [smallint] NULL
) ON [PRIMARY]
GO
USE [master]
GO
